<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config.properties" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

	<bean id="appService" class="com.googlecode.gtimetracking.service.AppService"
		init-method="initApp">
		<property name="uiService" ref="uiService" />
		<property name="gcalendarService" ref="gcalendarService" />
	</bean>

	<bean id="gcalendarService" class="com.googlecode.gtimetracking.service.GCalendarService">
		<property name="uiService" ref="uiService" />
		<property name="prefix" value="${prefix}" />
	</bean>

	<bean id="uiService" class="com.googlecode.gtimetracking.service.UIService"
		init-method="initUI" />

	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="appService" method="track"
			fixed-delay="${fixedDelay}" />
	</task:scheduled-tasks>

	<task:scheduler id="scheduler" pool-size="1" />

</beans>