<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>http://gtimetracking.googlecode.com/svn/trunk/src/main/dist/version.txt</value>
				<value>classpath:gtimetracking.properties</value>
				<value>file:#{systemProperties['user.home']}#{systemProperties['file.separator']}.gtimetracking#{systemProperties['file.separator']}gtimetracking.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

	<bean id="versionCheckerService"
		class="com.googlecode.gtimetracking.service.VersionCheckerService"
		init-method="checksVersion">
		<property name="currentVersion" value="${project.version}" />
		<property name="latestVersion" value="${project.latestversion}" />
		<property name="downloadUrl" value="http://code.google.com/p/gtimetracking/downloads/list" />
		<property name="uiService" ref="uiService" />
	</bean>

	<bean id="dataService" class="com.googlecode.gtimetracking.service.DataService"
		factory-method="getDataService" init-method="initData" />

	<bean id="appService" class="com.googlecode.gtimetracking.service.AppService"
		init-method="initApp">
		<property name="uiService" ref="uiService" />
		<property name="googleService" ref="googleService" />
		<property name="dataService" ref="dataService" />
	</bean>

	<bean id="googleService" class="com.googlecode.gtimetracking.service.GoogleService">
		<property name="uiService" ref="uiService" />
		<property name="dataService" ref="dataService" />
		<property name="prefix" value="${prefix}" />
	</bean>

	<bean id="uiService" class="com.googlecode.gtimetracking.service.UIService"
		init-method="initUI">
		<property name="dataService" ref="dataService" />
	</bean>

	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="appService" method="track"
			fixed-delay="${fixedDelay}" />
	</task:scheduled-tasks>

	<task:scheduler id="scheduler" pool-size="1" />

</beans>